fastapi==0.115.0
uvicorn[standard]==0.30.6
nptdms==1.10.0
pandas==2.2.2
python-multipart==0.0.9
lttb==0.3.2
numpy==1.26.4
pydantic-settings==2.10.1
clickhouse-driver==0.2.9
lz4==4.4.4
zstandard==0.25.0
clickhouse-cityhash==1.0.2.4